/*
 * SNOWFLAKE ANIMATION
 * ===================
 * Seasonal animation - delete this file and remove the link from index.html to disable.
 *
 * TO REMOVE:
 * 1. Delete css/snowflakes.css (this file)
 * 2. Remove <link rel="stylesheet" href="css/snowflakes.css"> from index.html
 * 3. Remove the <div class="snowflakes">...</div> container from index.html
 */

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -150px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 80px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: snowfall linear infinite;
    user-select: none;
}

/* Each snowflake has different horizontal position, speed, and sway */
.snowflake:nth-child(1) {
    left: 5%;
    animation-duration: 25s;
    animation-delay: 0s;
    font-size: 100px;
}

.snowflake:nth-child(2) {
    left: 15%;
    animation-duration: 30s;
    animation-delay: 3s;
    font-size: 90px;
}

.snowflake:nth-child(3) {
    left: 25%;
    animation-duration: 28s;
    animation-delay: 6s;
    font-size: 110px;
}

.snowflake:nth-child(4) {
    left: 40%;
    animation-duration: 32s;
    animation-delay: 2s;
    font-size: 85px;
}

.snowflake:nth-child(5) {
    left: 55%;
    animation-duration: 26s;
    animation-delay: 5s;
    font-size: 95px;
}

.snowflake:nth-child(6) {
    left: 70%;
    animation-duration: 29s;
    animation-delay: 1s;
    font-size: 105px;
}

.snowflake:nth-child(7) {
    left: 85%;
    animation-duration: 27s;
    animation-delay: 4s;
    font-size: 90px;
}

.snowflake:nth-child(8) {
    left: 95%;
    animation-duration: 31s;
    animation-delay: 7s;
    font-size: 100px;
}

/* The falling and swaying animation */
@keyframes snowfall {
    0% {
        top: -150px;
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    25% {
        transform: translateX(50px) rotate(90deg);
    }
    50% {
        transform: translateX(-30px) rotate(180deg);
        opacity: 0.9;
    }
    75% {
        transform: translateX(40px) rotate(270deg);
    }
    100% {
        top: 110vh;
        transform: translateX(-20px) rotate(360deg);
        opacity: 0.6;
    }
}
